<div id="content">
<% if @games %>
  <div id="games">
    <% @games.each do |game| %>
      <div class="game">
        <%= "#{@opponent} has challenged you to a game!" %>  
            <%= link_to "Accept", accept_game_path(@game) %> | 
            <%= link_to "Decline", decline_game_path(@game) %>         
      </div>
    <% end %>
  </div>

<% else%>
  <p>You don't have any challenges. Why not challenge someone?</p>
  <%= link_to "New Game", new_game_path %>
<% end %>
</div>