.game_container {
  width: 450px;
  height: 450px;
  background-color: black;
}

.cross {
  background-image:url('cross.png');
}

.nought {
  background-image:url('nought.png');
}

.free {
  background-image:url('free.png');
}

.cell {
  height: 100px;
  width: 100px;
  margin: 25px;
  background-color: red;
  display: inline;
  float: left;
}

